{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Internal Server Error (500) - A||GO</title>

    <meta name="keywords" content="allgo, a||go, scientific applications as a service, science, inria, irisa, research, deploy app, platform, api" />
    <meta name="description" content="allgo allow you to use console applications made by research team, online." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/fontawesome-all.min.css' %}" media="all" charset="utf-8">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/allgo.css' %}" media="all" charset="utf-8">

  </head>

  <body>
    <div class="container h-100">
    <div class="row  h-100 justify-content-center align-items-center">
      <div class="col-12 mx-auto text-center">
        <h1 class="display-1"><strong>500</strong></h1>
        <h2 class="display-4 text-uppercase">Internal Server Error</h2>

        <p>
        Oops, something went wrong. Try to refresh this page or feel
        free to contact us if the problem persists.
        </p>

        <p>
          <a class="btn btn-primary" href="{% url 'main:home' %}" role="button">Take me home</a>
          <a class="btn btn-primary" href="mailto:allgo@inria.fr" role="button">Contact support</a>
        </p>
      </div>
    </div>
    </div>
  </body>
</html>
