{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
    <meta charset="utf-8" />
    <title>{% block title %}A||GO | Home{% endblock %}</title>

    <meta name="keywords" content="allgo, a||go, scientific applications as a service, science, inria, irisa, research, deploy app, platform, api" />
    <meta name="description" content="allgo allow you to use console applications made by research team, online." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" media="all" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.min.css' %}" media="all" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/allgo.css' %}" media="all" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/prism.css' %}" media="all" charset="utf-8">

    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}" sizes="16x16">
    {% endblock %}
  </head>

  <body>
    {% include "partials/_header.html" %}

    {% url 'main:home' as home_url %}
    {% if not request.get_full_path == home_url %}
    <div class="container-fluid breadcrumb-bg">
      <div class="container">
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Home</a></li>
          {% block breadcrumb %}
          {% endblock %}
        </ol>
        </nav>
      </div>
    </div>
    {% endif %}

    {% block messages %}
    {% include 'partials/_messages.html' %}
    {% endblock %}


    {% block content %}
    {% endblock %}

    {% include "partials/_footer.html" %}

    {% block javascript %}
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script defer src="{% static 'js/popper.min.js' %}"></script>
    <script defer src="{% static 'js/bootstrap.min.js' %}"></script>
    <script defer src="{% static 'js/fontawesome-all.min.js' %}"></script>
    <script defer src="{% static 'js/prism.js' %}"></script>
    <script defer src="{% static 'js/bootstrap-filestyle.min.js' %}"></script>
    {% endblock %}
  </body>
</html>
