{% extends "base.html" %}
{% load static htmlattrs %}

{% block title %}A||GO, algorithms at your fingertips{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
  <div class="row align-items-center">
    <div class="col-sm-7 mx-auto">
      <h1 class="slogan-title">A<span class="allgo-pipes">||</span>gorithms at your fingertips</h1>
      <p class="lead slogan">
        A||go is a platform for building and deploying apps that analyze massive
        data. It has been specifically designed for science applications.
      </p>
    </div>

    <div class="col-sm-4 col-md-5 allgo-visual">
        <a href="{% url 'main:webapp_list' %}"
          title="Browse the webapps">
          <img src="{% static 'images/allgo-visual.png' %}"
          class="responsive-img" alt="Allgo workflow" />
        </a>
    </div>
  </div>
  </div>
</div>

<div class="container border-bottom">
  <div class="row text-center text-muted">
    <div class="col">
      <p class="allgo-stats border-right">
        <span class="allgo-data">{{ webapp_nb }}</span>
        <span class="allgo-data-title">apps</span>
      </p>
    </div>

    <div class="col">
      <p class="allgo-stats border-right">
        <span class="allgo-data">{{ job_nb }}</span>
        <span class="allgo-data-title">jobs</span>
      </p>
    </div>

    <div class="col">
      <p class="allgo-stats">
        <span class="allgo-data">{{ user_nb }}</span>
        <span class="allgo-data-title">users</span>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row home-page-cards align-items-center">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <p class="card-icon"><i class="fas fa-share-alt"></i></p>
          <div class="card-content">
            <h5 class="card-title">Easy to use</h5>
            <p class="card-text">
            You don't need to support many architecture and deploy several
            packages. Your end users can access and use immediately your
            application.
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="card-icon"><i class="fas fa-save"></i></p>
          <div class="card-content">
            <h5 class="card-title">Your app always ready</h5>
            <p class="card-text">
            Based on containers technology, your application can run even
            several years without the need of any upgrade of your source code.
            <a href="#">Learn about the technology</a>.
            </p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <p class="card-icon"><i class="fas fa-code"></i></p>
          <div class="card-content">
            <h5 class="card-title">Command Line Interface</h5>
            <p class="card-text">Thanks to our HTTP REST API, you
            can write your own scripts using our platform. <a href="#">Learn about
            the API</a>.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm mx-auto">
      <img class="img-fluid" src="{% static 'images/jupyterpreview.png' %}">
      {# This should replaced by more relevant screenshots or graphic #}
    </div>
</div>
</div>
{% endblock %}
