{% extends "base.html" %}
{% load static converters humanize %}

{% block title %}Your job list{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Jobs</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">
    <h5>Your job list</h5>

    {% if job_list %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">App</th>
	  <th scope="col">Version</th>
          <th scope="col">Parameters</th>
          <th scope="col">Queue</th>
          <th scope="col" class="text-center">Status</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for job in job_list %}
        <tr id="job-{{job.id}}">
          <th scope="row"><a href="{% url 'main:job_detail' job.id %}">{{ job.id }}</a></th>
          <td>{{ job.created_at | naturalday }}</td>
          <td><a href="{% url 'main:webapp_detail' job.webapp.docker_name %}">{{ job.webapp.name | fancy_webapp_name }}</a></td>
	  <td>{{ job.version }}</td>
          <td>{{ job.param }}</td>
          <td>{{ job.queue.name }}</td>
          <td class="text-center" id="job-status-{{job.id}}">{{ job | status_icon }}</td>
          <td class="text-center">
            <form style="display: inline" method="post" action="{% url 'main:job_abort' job.id %}"
               id="job-abort-{{job.id}}"
               {% if job.state != job.RUNNING %} class="invisible" {% endif %}
            >
              {% csrf_token %}
              <a href="#" onclick="$(this).parent().submit()"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Abort this job"
                          class="fa-layers fa-2x">
                <i class="fas fa-square"></i>
                <i class="fa-inverse fas fa-hand-paper" data-fa-transform="shrink-7 down-.25 left-.25"></i></span>
              <span class="text-hide">Abort this job</span>
              </a>
            </form>
            <a href="{% url 'main:job_delete' job.id %}" 
              id="job-delete-{{job.id}}"
              data-toggle="tooltip"
              data-placement="top"
              title="Delete this job"
              class="fa-layers fa-2x {% if not job.destroyable %}disabled{% endif %}">
              <i class="fas fa-square"></i>
              <i class="fa-inverse fas fa-trash-alt" data-fa-transform="shrink-7 down-.25 left-.25"></i>
              <span class="text-hide">Delete this job</span>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No current job history available. Browse the applications to 
    <a href="{% url 'main:webapp_list' %}" title="Browse the available apps">create a job</a>.</p>
    {% endif %}

    {% include "partials/_pagination.html" %}
  </div>
</div>
{% endblock %}

{% block messages %}
{{ block.super }}
{% for field in form %}
  {% for error in field.errors %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <div class="container">{{ error|escape }}</div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
{% endfor %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script defer src="{% static 'js/tooltip.js' %}"></script>
<script src="{% static 'js/json_seq_events.js' %}"></script>
<script>

JOB_STATUS_DICT = {{ 'job-status-dict' | status_icon | safe }};

json_seq_event_listener("/aio/jobs/events?{% for job in job_list %}id={{job.id}}&{% endfor %}",
    function(msg) {
      console.log("message:", msg);
      if (msg == undefined) {
              console.log("events channel closed (EOF from server)");
              return;
      }
      if (msg.state) {
        if (["DELETED", "ARCHIVED"].includes(msg.state)) {
          // job deleted
          var row = $("tr#job-" + msg.id);
          row.find('[data-toggle="tooltip"]').tooltip('hide');
          row.remove();
        } else {
          // job status updated
          $("td#job-status-" + msg.id).html(JOB_STATUS_DICT[
                  (msg.state != "DONE") ? msg.state : msg.result]);
          // display abort button
          $("#job-abort-" + msg.id).toggleClass("invisible", (msg.state != "RUNNING"))
          // disable delete button
          $("#job-delete-" + msg.id).toggleClass("disabled",
                          ["ABORTING", "RUNNING"].includes(msg.state));
        }
      }
    },
    function(status, msg) {
      console.log("error:", status, msg);
    });
</script>
{% endblock %}
