{% extends "base.html" %}
{% load static converters %}

{% block title %}Job #{{ job.id }} details{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'main:job_list' %}">Jobs</a></li>
<li class="breadcrumb-item active" aria-current="page">#{{ job.id }}</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">
    <div class="row">
      <div class="col">
        <h5 class="page-title">Job #{{ job.id }}</h5>
      </div>

      <div class="col text-right">
        <form style="display: inline" method="post" action="{% url 'main:job_abort' job.id %}"
          id="job-abort"
          {% if job.state != job.RUNNING %} class="invisible" {% endif %}
        >
          {% csrf_token %}
          <a href="#" onclick="$(this).parent().submit()"
             data-toggle="tooltip"
             data-placement="top"
             title="Abort this job"
             class="fa-layers fa-2x">
            <i class="fas fa-square"></i>
            <i class="fa-inverse fas fa-hand-paper" data-fa-transform="shrink-7 down-.25 left-.25"></i></span>
          <span class="text-hide">Abort this job</span>
          </a>
        </form>
        <a href="{% url 'main:job_delete' job.id %}"
          data-toggle="tooltip"
          data-placement="top"
          title="Delete this job"
          class="fa-layers fa-2x{% if not job.destroyable %} disabled{% endif %}">
          <i class="fas fa-square"></i>
          <i class="fa-inverse fas fa-trash-alt" data-fa-transform="shrink-7 down-.25 left-.25"></i></span>
          <span class="text-hide">Delete this job</span>
        </a>
        <a href="#" 
          data-toggle="tooltip"
          data-placement="top"
          class="fa-layers fa-2x" title="Report an issue to the maintainer">
          <i class="fas fa-square"></i>
          <i class="fa-inverse fas fa-exclamation" data-fa-transform="shrink-7 down-.25 lef-.25"></i>
          <span class="text-hide">Report an issue</span>
        </a>
      </div>
    </div>


        <div class="row">
          <div class="col-sm-7">
            <h5 class="card-title">Files</h5>
            <table class="table card-table">
              {% for file in files %}
              <tr>
                <td><i class="fas fa-file"></i></td>
                <td> {{ file }}</td>
                <td class="text-right">
                  <a 
                    href="{% url 'main:job_download_file' job.id file %}" 
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Download {{ file }}">
                    <i class="fas fa-download"></i><span class="text-hide">Download {{ file }}</span>
                  </a>
                </td>
              </tr>
              {% endfor %}
              <tr>
                <td><i class="fas fa-copy"></i></td>
                <td>All files</td>
                <td>
                  <a 
                    href="{% url 'main:job_download_all' job.id %}" download
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Download all files (zip archive)"
                    class="float-right"><i class="fas fa-download"></i></a>
                </td>
              </tr>
            </table>
          </div>



          <div class="col-sm-4 offset-sm-1">
            <h5 class="card-title">Metadata</h5>
      <table class="table card-table">
        <tr>
          <td class="text-muted" width="1">Name</td>
          <td><a href="{% url 'main:webapp_detail' job.webapp.docker_name %}">{{ job.webapp.name | fancy_webapp_name | title }}</a></td>
        </tr>
        <tr>
          <td class="text-muted">Version</td>
	  <td>{{ job.version }}</td>
        </tr>
        <tr>
          <td class="text-muted">Parameters</td>
          {% if job.param %}<td>{{ job.param }}</td>{% else %}<td class="text-muted">None given</td>{% endif %}
        </tr>
        <tr>
          <td class="text-muted">Queue</td>
          <td>{{ job.queue.name }}</td>
        </tr>
        <tr>
          <td class="text-muted">Status</td>
          <td id="job-status">{{ job | status_icon }}</td>
        </tr>
      </table>
        </div>

        <div class="col-sm" id="job-logs-panel" {{ logs_hidden }}>
          <h5 class="card-title">Logs</h5>
              <pre style="overflow: auto; height: 40em;"
                ><code class="lang-console" id="job-logs">{{ logs }}</code></pre>
        </div>
  </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script defer src="{% static 'js/tooltip.js' %}"></script>
{% if job.state != job.DONE %}
<script src="{% static 'js/json_seq_events.js' %}"></script>
<script>

JOB_STATUS_DICT = {{ 'job-status-dict' | status_icon | safe }};

function escapeHtml(text) {
    return text.replace(/[\"&<>]/g, function (a) {
        return { '"': '&quot;', '&': '&amp;', '<': '&lt;', '>': '&gt;' }[a];
    });
}

json_seq_event_listener("/aio/jobs/{{ job.id }}/events",
    function(msg) {
      console.log("message:", msg);
      if (msg == undefined) {
              console.log("events channel closed (EOF from server)");
              return;
      }
      if (msg.state == "DONE") {
        // job finished
        //  
        // Note: we refresh the job page because:
        //  - the logs may not be complete (need to reload allgo.log)
        //  - the list of output files has to be updated
        //  - some parameters (eg: execution time) have to be updated
        location.reload()
      }

      if (msg.state) {
        // job state updated
        $("td#job-status").html(JOB_STATUS_DICT[msg.state]);
        // display the logs panel when job starts
        if (!["NEW", "WAITING"].includes(msg.state)) {
          $("#job-logs-panel").attr("hidden", null)
        }
        // display the abort button when job is running
        $("#job-abort").toggleClass("invisible", (msg.state != "RUNNING"))
      }
      if (msg.logs) {
        // new logs received

        // append logs
        var code = $("code#job-logs");
        code.append(escapeHtml(msg.logs));
        // scroll terminal to bottom
        var pre = code.parent()[0];
        pre.scrollTop = pre.scrollHeight;
      }
    },
    function(status, msg) {
      console.log("error:", status, msg);
    });
//  $("td#job-status").html("<b>pouet</b>")
</script>
{% endif %}
{% endblock %}
