{% extends "base.html" %}
{% load i18n %}

{% block title %}Delete the job{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'main:job_list' %}">Jobs</a></li>
<li class="breadcrumb-item active" aria-current="page">Delete job {{ object.id }}</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">
      <div class="col-10">
        <form method="post">
          {% csrf_token %}
          <p><strong>Are you sure you want to delete the job #{{ object.id }}?</strong></p>
          <input class="btn btn-primary" type="submit" value="Confirm">
        </form>
    </div>
  </div>
</div>
{% endblock %}


{% block messages %}
{{ block.super }}
{% for field in form %}
  {% for error in field.errors %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <div class="container">{{ error|escape }}</div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
{% endfor %}
{% endblock %}
