{% extends "base.html" %}
{% load static converters humanize %}

{% block title %}A||GO | Metrics{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Metrics</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">
    {% if show_form == False %}
      <p>You do not have access to any Webapp, so nothing to ask for.</p>
    {% else %}
        <input type="hidden" id="token" name="token" value="{{token}}">
        <fieldset>
          <label for="app">Apps:&nbsp;</label>
          <select id="app">
            <option onClick="submit_form();" value="all">all</option>
            {% for app in apps %}
	      if (! (({{app.id}} == 1)) && ({{app.name}} == "Sleep")) {
	        <option onClick="submit_form();" value="{{app.id}}">{{ app.name }}</option>
	      }
	    {% endfor %}
	  </select>
	  <br>
	  <label for="period">Period:&nbsp;</label>
          <select id="fromto">
	    <option onClick="personalized.style.visibility= 'hidden'; setFromDateSubstractDays(0);">Today</option>
            <option onClick="personalized.style.visibility= 'hidden'; setFromDateSubstractDays(1);">Last day</option>
            <option onClick="personalized.style.visibility= 'hidden';
	      setFromDateSubstractDays(7);" selected="selected">Last 7 days</option>
            <option onClick="personalized.style.visibility= 'hidden';  setFromDateSubstractDays(30);">Last month</option>
            <option onClick="personalized.style.visibility= 'hidden';  setFromDateSubstractDays(90);">Last 3 month</option>
            <option onClick="personalized.style.visibility= 'hidden';  setFromDateSubstractDays(365);">Last year</option>
            <option onClick="personalized.style.visibility= 'visible';">Personalized</option>
          </select>
          <div id="personalized" style="visibility:hidden;float:right;">
            <label for="from">From&nbsp;</label>
            <input id="from" type="date" min="2015-01-01" />
            <label for="to">To&nbsp;&nbsp;&nbsp;</label>
            <input id="to" type="date" value ="" />
	    <button style="border-radius:5px;" type="button" onClick="submit_form();">Send</button>
	  </div>
	  <br>
          <label for="step">Group by&nbsp;</label>
          <select id="step">
            <option onClick="submit_form();">year</option>
            <option onClick="submit_form();">month</option>
            <option selected="selected" onClick="submit_form();">day</option>
          </select>
	</fieldset>

        {% for app in apps %}
	  <div class="card" id="card_label_{{app.id}}" style="display:none; margin-bottom: 10px;">
            <div class="card-header">
              <h5 class="mb-0">Application: {{app.name}}</h5>
	      <div style="text-align:right;font-size:small;"><a id="export_json_{{app.id}}">Export as JSON</a><br/>	  
	        <a style="align:right;" id="export_csv_{{app.id}}">Export as CSV</a></div>	  
	    </div>
          </div>
     	  <div class="row" id="card_body_{{app.id}}" style="display:none; margin-bottom: 10px;">
	    <div class="col">
	      <canvas id="created_plot_{{app.id}}" height="200px">
                Sorry, your browser doesn't support the &lt;canvas&gt; element.
                Here, the # of jobs created for the selected app.
              </canvas>
            </div>
            <div class="col">
              <canvas id="per_user_plot_{{app.id}}" height="200px">
                Sorry, your browser doesn't support the &lt;canvas&gt; element
                Here, the # of jobs created per user for the selected app.
              </canvas>
	    </div>
	    <div class="col">
              <canvas id="per_result_plot_{{app.id}}" height="200px">
                Sorry, your browser doesn't support the &lt;canvas&gt; element
                Here, the # of jobs terminated per status for the selected app.
              </canvas>
	    </div>
	  </div>
	{% endfor %}

    {% endif %}
  </div>
</div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script src="{% static 'js/metrics.js' %}"></script>

    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script type="text/javascript">
        document.getElementById('to').value = new Date().toISOString().substring(0, 10);
        function setFromDateSubstractDays(days) {
           var today=new Date();
           var oldDate=new Date().setDate(today.getDate()-days);
            document.getElementById('from').value =new Date(oldDate).toISOString().substring(0, 10);
            document.getElementById('to').value =new Date(today).toISOString().substring(0, 10);
            submit_form();
	}

        function submit_form() {
          var app_list = document.getElementById("app");
          var app_selected = app_list.options[app_list.selectedIndex].value;

          {% for app in apps %}

            var created_plot = document.getElementById("created_plot_{{app.id}}");
            var per_user_plot = document.getElementById("per_user_plot_{{app.id}}");
            var per_result_plot = document.getElementById("per_result_plot_{{app.id}}");

            var parent_created = created_plot.parentNode;
            var parent_per_user = per_user_plot.parentNode;
            var parent_per_result = per_result_plot.parentNode;

            created_plot.parentNode.removeChild(created_plot);
            per_user_plot.parentNode.removeChild(per_user_plot);
            per_result_plot.parentNode.removeChild(per_result_plot);

            parent_created.innerHTML = '<canvas id="created_plot_{{app.id}}" height="200px">   Sorry, your browser doesn t support the &lt;canvas&gt; element.   Here, the # of jobs created for the selected app.  </canvas>';

            parent_per_user.innerHTML = '<canvas id="per_user_plot_{{app.id}}" height="200px">  Sorry, your browser doesn t support the &lt;canvas&gt; element. Here, the # of jobs created per user for the selected app.  </canvas>';

            parent_per_result.innerHTML = '<canvas id="per_result_plot_{{app.id}}" height="200px">  Sorry, your browser doesn t support the &lt;canvas&gt; element. Here, the # of jobs created per resultsfor the selected app.  </canvas>';

            if (app_selected == "all")  {
              card_label_{{app.id}}.style.display= 'block';
              card_body_{{app.id}}.style.display= 'block';
            }
            else {
              if (app_selected == "{{app.id}}")  {
                 card_label_{{app.id}}.style.display= 'block';
                 card_body_{{app.id}}.style.display= 'block';
               } else {
                 card_label_{{app.id}}.style.display= 'none';
                 card_body_{{app.id}}.style.display= 'none';
               }
            }
  	  {% endfor %}
          var step_list = document.getElementById("fromto");
          var step_selected = step_list.options[step_list.selectedIndex].value;
          if (app_selected == "all")  {
            {% for app in apps %}
              app_list.options[app_list.selectedIndex].value = "{{app.id}}";
              draw_plots();
            {% endfor %}
            app_list.options[app_list.selectedIndex].value = "all";
    	    } else {
            draw_plots();
          }
        }

	setFromDateSubstractDays(7);

    </script>
{% endblock %}

