{% extends "base.html" %}
{% load static %}

{% block title %}Available runners{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Runners</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">

    <div class="row">
      <div class="col">
        <h5 class="page-title">Runner list</h5>
      </div>
      
      <div class="col text-right">
        {% if webapp_count > 0 or user.is_superuser %}
        <a href="{% url 'main:runner_create' %}" data-toggle="tooltip" data-placement="top" title="Add a new runner" class="fa-layers fa-2x">
          <i class="fas fa-square"></i>
          <i class="fa-inverse fas fa-plus" data-fa-transform="shrink-7 down-.25 left-.25"></i>
          </span>
          <span class="text-hide">Add a new runner</span>
        </a>
        {% endif %}
      </div>
    </div>

        {% if runner_list %}
        <table class="table table-striped float-none">
          <thead>
            <tr>
              <th scope="col">hostname</th>
              <th scope="col">CPU</th>
              <th scope="col">Memory (GB)</th>
              <th scope="col">Apps</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for runner in runner_list %}
            <tr>
              <th scope="row">{% if runner.hostname %}<a href="{% url 'main:runner_update' runner.id %}">{{ runner.hostname }}</a>{% else %}None defined{% endif %}</th>
              <td>{{ runner.cpu_count }}</td>
              <td>{{ runner.mem_in_GB }}</td>
              <td>
                {% if runner.open_bar %}
                open-bar
                {% else %}
                  {% for app in runner.webapps.all %}
                    {{ app.name }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                {% endif %}
              </td>
              <td><a href="{% url 'main:runner_update' runner.id %}"><i class="fas fa-pencil-alt"></i></a></td>
              <td>
                <a href="{% url 'main:runner_delete' runner.id %}"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Delete this runner"
                  class="fa-layers fa-2x">
                  <i class="fas fa-square"></i>
                  <i class="fa-inverse fas fa-trash-alt" data-fa-transform="shrink-7 down-.25 left-.25"></i>
                  <span class="text-hide">Delete this runner</span>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        {% else %}
        <p>You don't manage any runners.</p>
        {% endif %}


        {% include "partials/_pagination.html" %}
  </div>
</div>
{% endblock %}

{% block messages %}
{{ block.super }}
{% for field in form %}
  {% for error in field.errors %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <div class="container">{{ error|escape }}</div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
{% endfor %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script defer src="{% static 'js/tooltip.js' %}"></script>
{% endblock %}
