{% extends "base.html" %}
{% load i18n static converters htmlattrs %}

{% block title %}Update of create a runner{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'main:runner_list' %}">Runners</a></li>
{% url 'main:runner_create' as runner_url %}
{% if request.get_full_path == runner_url %}
<li class="breadcrumb-item active" aria-current="page">Create</li>
{% else %}
<li class="breadcrumb-item active" aria-current="page">Update</li>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">

        <ul class="nav nav-tabs">
          <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#configuration">Configuration</a></li>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#advanced">Advanced</a></li>
        </ul>

        <form method="post">


        {% csrf_token %}

        <div class="tab-content">
          <div class="tab-pane active" id="configuration">
            <div class="form-row">

            <div class="form-group col-6 border-right mr-3">
              {{ form.webapps.label_tag }}
              {% for webapp in form.webapps %}
                <div class="custom-control custom-checkbox">
                  <input type="{{ webapp.data.type }}" class="custom-control-input" name="{{ webapp.data.name }}" value="{{ webapp.data.value }}" id="{{ webapp.data.attrs.id }}" {% if webapp.data.selected %}checked{% endif %} {% if runner.open_bar %}disabled{% endif %}>
                  <label class="custom-control-label" for="{{ webapp.data.attrs.id }}">{{ webapp.data.label }}</label>
                </div>
              {% endfor %}
            </div>
            {% if user.is_superuser %}
            <div class="form-group col">
              {{ form.open_bar.label_tag }}
              {{ form.open_bar | attr:"aria-describedby:openbarHelpBlock" | add_class:"form-control" }}
              <small id="openbarHelpBlock" class="form-text text-muted">
              An open-bar runner can run any applications available on A||Go.
              </small>
            </div>
            {% endif %}
          </div>

          {% url 'main:runner_create' as runner_url %}
          {% if not request.get_full_path == runner_url %}
          <div class="form-group">
            <small id="runner-help" class="form-text text-muted">
              In order to attach your runner to A||go, enter the following command line on your runner.
              For more information, refer to <a href="#">documentation</a>.
            </small>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="{{ runner_launch_cmd | command_oneline }}" readonly>
              <span class="input-group-append">
                <button 
                  class="btn btn-primary js-copy"
                  data-toggle="tooltip"
                  data-copy="{{ runner_launch_cmd | command_oneline }}"
                  data-placement="top"
                  title="Copy to clipboard" type="button"><i class="fas fa-clipboard"></i><span class="text-hide">Copy to clipboard</span></button>
              </span>
            </div>
          </div>
          {% endif %}

        </div>

          <div class="tab-pane" id="advanced">
            <div class="form-row">
              <div class="form-group col-md-6">
                {{ form.hostname.label_tag }}
                {{ form.hostname | attr:"placeholder:Hostname of the machine" | add_class:"form-control" }}
              </div>

              <div class="col-md-6">
              </div>

              <div class="form-group col-md-3">
                {{ form.cpu_count.label_tag }}
                <div class="input-group">
                  {{ form.cpu_count | attr:"placeholder:Number of CPUs" | add_class:"form-control" }}
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">CPUs</span>
                  </div>
                </div>
              </div>

              <div class="form-group offset-md-3">
                {{ form.mem_in_GB.label_tag }}
                <div class="input-group">
                  {{ form.mem_in_GB | attr:"placeholder:Memory in GB" | attr:"aria-describedby:basic-addon2" | add_class:"form-control" }}
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">GB</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          {% url 'main:runner_create' as runner_url %}
          {% if request.get_full_path == runner_url %}
          <input class="btn btn-primary float-right" type="submit" value="Create runner">
          {% else %}
          <input class="btn btn-primary float-right" type="submit" value="Update runner">
          {% endif %}
        </form>

  </div>
</div>
{% endblock %}

{% block messages %}
{{ block.super }}
{% for field in form %}
  {% for error in field.errors %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <div class="container">{{ error|escape }}</div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
{% endfor %}
{% endblock %}


{% block javascript %}
{{ block.super }}
<script defer src="{% static 'js/tooltip.js' %}"></script>
<script defer src="{% static 'js/copy.js' %}"></script>
{% endblock %}
