{% extends "base.html" %}
{% load i18n %}

{% block title %}Delete the runner{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'main:runner_list' %}">Runners</a></li>
<li class="breadcrumb-item active" aria-current="page">Delete</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">
        <form method="post">
          {% csrf_token %}
          <p><strong>Are you sure you want to delete this runner?</strong></p>
          <input class="btn btn-primary" type="submit" value="Confirm">
        </form>
  </div>
</div>
{% endblock %}


{% block messages %}
{{ block.super }}
{% endblock %}
