{% extends "base.html" %}
{% load static converters humanize %}

{% block title %}Available apps for tag {{ tag | title }}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'main:tag_list' %}" title="All available tags">Tags</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ tag | title }}</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">

    {% include "partials/_webapp_list.html" %}

    {% include "partials/_pagination.html" %}
  </div>
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script defer src="{% static 'js/tooltip.js' %}"></script>
{% endblock %}

