{% extends "base.html" %}
{% load i18n static htmlattrs %}

{% block title %}Add a tag{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'main:tag_list' %}">Tags</a></li>
<li class="breadcrumb-item active" aria-current="page">Add</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">

        <form method="post">
        {% csrf_token %}

          <div class="form-group">
            {{ form.name.label_tag }}
            {{ form.name | add_class:"form-control" }}
          </div>

          <input class="btn btn-primary float-right" type="submit" value="Add">
        </form>

  </div>
</div>
{% endblock %}

{% block messages %}
{{ block.super }}
{% for field in form %}
  {% for error in field.errors %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <div class="container">{{ error|escape }}</div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
{% endfor %}
{% endblock %}


{% block javascript %}
{{ block.super }}
<script defer src="{% static 'js/tooltip.js' %}"></script>
<script defer src="{% static 'js/copy.js' %}"></script>
{% endblock %}

