{% extends "base.html" %}
{% load i18n static htmlattrs %}

{% block title %}List of all the tags{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Tags</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">
    <div>
    {% for tag in tags %}
    <a 
      href="{% url 'main:tag_webapp_list' tag.slug %}" 
      class="badge badge-primary">
      {{ tag.name }}
      <span class="badge badge-light">{{ tag.num_tag }}</span>
    </a>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
