{% extends "base.html" %}
{% load i18n static htmlattrs %}

{% block title %}Change password{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'main:user_detail' %}">My profile</a></li>
<li class="breadcrumb-item active" aria-current="page">Password</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">
        <form method="post">
        {% csrf_token %}
          <div class="form-group">
              {{ form.old_password.label_tag }}
              {{ form.old_password | attr:"placeholder:Type your old password" | add_class:"form-control" }}
          </div>

          <div class="form-group">
              {{ form.new_password1.label_tag }}
              {{ form.new_password1 | attr:"placeholder:Type your new password" | add_class:"form-control" }}
              <small class="text-muted">Your password must contain at least 8 characters. It can't be entirely numeric or too common.</small>
          </div>

          <div class="form-group">
              {{ form.new_password2.label_tag }}
              {{ form.new_password2 | attr:"placeholder:Retype your new password" | add_class:"form-control" }}
          </div>

          <button class="btn btn-primary" type="submit">
            <i class="fas fa-key"></i> Change password
          </button>
        </form>
  </div>
</div>
{% endblock %}

{% block messages %}
{{ block.super }}
{% include 'partials/_form_messages.html' %}
{% endblock %}
