{% extends "base.html" %}
{% load htmlattrs %}

{% block title %}Security: SSH key{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'main:user_detail' %}">Profile</a></li>
<li class="breadcrumb-item active" aria-current="page">Add SSH key</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">
        <form method="post">
          {% csrf_token %}

          <div class="form-group">
          {{ form.sshkey.label_tag }}
          <small class="form-text text-muted">{{ form.sshkey.help_text }}</small>
          {{ form.sshkey | attr:"placeholder:Example ssh-rsa ...." | add_class:"form-control" }}
          </div>

          <input type="submit" class="btn btn-primary" value="Update" />

        </form>
  </div>
</div>
{% endblock %}

{% block messages %}
{{ block.super }}
{% include 'partials/_form_messages.html' %}
{% endblock %}
