{% extends "base.html" %}
{% load static htmlattrs socialaccount %}

{% block title %}Account needs validation{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">My profile</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">

    <div class="pb-3 mb-3">
      <h2>Your account needs validation</h2>
    </div>
    <div>
      <h5>Email address</h5>
      <p>Your e-mail address has to be verified. If it is still marked as
      unverified, then you need to follow the link provided in the confirmation
      e-mail that was sent during registration.</p>

      <table class="table" style="width: 1px; white-space: nowrap;">
        <tbody>
          {% for addr in user.email_addresses %}
          <tr>
            <td>{{addr.email}}</td>
            {% if addr.verified %}
            <td><i class="text-success">Verified</i></td>
            <td/>
              {% else %}
              <td>
                <i class="text-danger">Unverified</i>
              </td>
              <td>
                <form class="form-inline mt-0" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="confirm_address_id" value="{{addr.id}}"/>
                  <input class="btn btn-primary" type="submit" value="Re-send verification  e-mail"/>
                </form>
              </td>
              {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% if agreement or next_tos %}
    <div class="mt-3">
      <h5>Terms of Service</h5>

      <p>You have to agree to the latest version of the Terms of Service.</p>

      <table class="table" style="width: 1px; white-space: nowrap;">
        <tbody>
          {% if agreement %}
          <tr>
            <td>
              <a href="{{agreement.tos.url}}">Terms of Service version {{ agreement.tos.version }}</a>
              {% if next_tos %}
              <i>(previous)</i>
              {% endif %}
            </td>
            <td class="text-success"><i>Agreed on {{agreement.created_at}}</i></td>
            <td/>
          </tr>
          {% endif %}
          {% if next_tos %}
          <tr>
            <td>
              <a href="{{next_tos.url}}">Terms of Service version {{ next_tos.version }}</a>
              <i>(current)</i>
              <br>
            </td>
            <td class="text-danger"><i>Not agreed</i></td>
          </tr>
          <tr>
            <td colspan="2">
              <form class="form" method="post">
                {% csrf_token %}
                <input type="hidden" name="agree_tos_id" value="{{next_tos.id}}"/>
                <input type="checkbox"  name="yes_i_agree"/> Yes, I have read and I agree to the Terms of Service version {{next_tos.version}}
                <input class="btn btn-primary ml-3" type="submit" value="Submit"/>
              </form>
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block messages %}
{{ block.super }}
{% include 'partials/_form_messages.html' %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script defer src="{% static 'js/tooltip.js' %}"></script>
<script defer src="{% static 'js/copy.js' %}"></script>
{% endblock %}
