{% extends "base.html" %}
{% load static htmlattrs socialaccount %}

{% block title %}User settings{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">My profile</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">

    <div class="clearfix border-bottom pb-3 mb-3">
      <h5>Profile</h5>
        <form method="post">
          {% csrf_token %}

          <div class="form-row">
            <div class="form-group col-md-6">
              {{ form.first_name.label_tag }}
              {{ form.first_name | attr:"placeholder:First name" | add_class:"form-control" }}
            </div>
            <div class="form-group col-md-6">
              {{ form.last_name.label_tag }}
              {{ form.last_name | attr:"placeholder:Your last name" | add_class:"form-control" }}
            </div>
          </div>

          <button type="submit" class="btn btn-primary float-right">
            <i class="far fa-user"></i> Update profile
          </button>
        </form>
    </div>

    <div class="clearfix border-bottom pb-3 mb-3">
      <h5>E-mail</h5>
      <ul>
          {% for addr in user.email_addresses %}
          <li class="{% if addr.primary %}font-weight-bold{% endif %}">{{addr.email}}{% if addr.primary %}{% endif %} </li>
          {% endfor %}
      </ul>
      <div class="float-right">
        <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">
          <i class="fas fa-envelope"></i> Manage addresses
        </a>
      </div>
    </div>

    <div class="clearfix border-bottom pb-3 mb-3">
      {% if user.has_usable_password %}
      <h5>Password</h5>

      <p>
      Follow the link to <a href="{% url 'main:user_password' %}" title="Change your password">change your password</a>.</p>
      {% else %}
      <h5>Social accounts</h5>

      <p>
      Follow the link to <a href="{% url 'socialaccount_connections' %}" title="Update your social connections">Update your social account</a>.</p>
      {% endif %}

    </div>

    <div class="clearfix border-bottom pb-3 mb-3">
        <h5>SSH key</h5>

        {% if sshkey %}
        <p>
        This a list of SSH keys associated with your account. Remove any keys
        that you do not recognize.
        </p>

        <div class="card ssh-keys">
          <div class="card-body">
            <div class="row">

              <div class="col-2">
                <p class="ssh-key"><i class="fas fa-key"></i><span>SSH</span></p>
              </div>

              <div class="col-9">
                <p>
                  {% if ssh_comment %}
                  <strong>{{ ssh_comment }}</strong><br/>
                  {% endif %}
                  <strong>Fingerprint</strong>: {{ ssh_fingerprint }}
                </p>
              </div>

              <div class="col-1">
                  <a 
                    href="{% url 'main:user_ssh_delete' %}"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Delete this SSH key"
                    class="fa-layers fa-2x">
                    <i class="fas fa-square"></i>
                    <i class="fa-inverse fas fa-trash-alt" data-fa-transform="shrink-7 down-.25 left-.25"></i>
                    <span class="text-hide">Delete this SSH key</span>
                  </a>
              </div>
            </div>


          </div>
        </div>
        {% else %}
        <p>You don't have any SSH key saved, please <a href="{% url 'main:user_ssh_add' %}" title="Add a SSH key">add one</a>.</p>
        {% endif %}

    </div>

    <div class="clearfix border-bottom mb-3 pb-3">
        <h5>Token</h5>

        <p>
        Token generated to be used with the API.
        </p>

          <div class="form-group mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <button 
                  class="btn btn-primary js-copy"
                  data-toggle="tooltip"
                  data-copy="{{ token }}"
                  data-placement="top"
                  title="Copy to clipboard" type="button"><i class="fas fa-clipboard"></i><span class="text-hide">Copy to clipboard</span></button>
              </div>
              <input type="text" readonly class="form-control" value="{{ token }}">
              <div class="input-group-append">
                <a href="{% url 'main:user_token' %}" class="btn btn-primary" role="button">Regenerate</a>
              </div>
            </div>
          </div>
    </div>


    {% if agreements %}
    <div class="clearfix mb-3 pb-3">
      <h5>Terms of Service</h5>

      <p>You agreed to the following Terms of Service:
      <ul>
        {% for agreement in agreements %}
        <li><a href="{{agreement.tos.url}}">Version {{agreement.tos.version}}</a> <i>agreed on {{agreement.created_at}}</i></li>
        {% endfor %}
      </ul>
      </p>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block messages %}
{{ block.super }}
{% include 'partials/_form_messages.html' %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script defer src="{% static 'js/tooltip.js' %}"></script>
<script defer src="{% static 'js/copy.js' %}"></script>
{% endblock %}
