{% extends "base.html" %}
{% load htmlattrs static %}

{% block title %}Import versions for application {{ webapp.name }}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'main:user_webapp_list' user.get_username %}">Applications</a></li>
<li class="breadcrumb-item"><a href="{% url 'main:webapp_detail' webapp.docker_name %}">{{ webapp.name }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Import versions</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">
    <h3>Import versions for {{webapp.name}}</h3>
    <p>In this page you can request the import of versions of the
    <b>{{ webapp.name }}</b> application hosted at
    <a href="{{import_url}}">{{ import_url }}</a>.</p>
    <p>You may import a version that already exists locally (this is especially
    useful in case the remote version was updated). However be aware that this
    will permanently overwrite the local image.</p>
    <p>It is not recommended to import a version while a commit (with the same
    version number) is in progress on the remote server. We cannot guarantee
    which image would be imported (the version before or the version after the
    commit).</p>
    <p>The import process is fully asynchronous, you may need to refresh this
    page to have some feedback </p>
    {% if not versions %}
    <p><b>The remote webapp has no versions !</b></p>
    {% else %}
    <form method="post">
      {% csrf_token %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" rowspan="2">Number</th>
            <th scope="col">Remote version</th>
            <th scope="col" colspan="2">Local version</th>
            <th scope="col" rowspan="2">Select</th>
          </tr>
          <tr>
            <th scope="col">timestamp</th>
            <th scope="col">timestamp</th>
            <th scope="col">was imported</th>
          </tr>
        </thead>
        <tbody>
          {% for version in versions %}
          <tr>
            <td>{{ version.number }}</td>
            <td>{{ version.remote_ts }} </td>
            <td>{{ version.local_ts }}</td>
            <td>{% if version.local_imported %}<i class="fas fa-check text-success"></i>{% endif %}</td>
            <td>
              {% if version.in_progress %}
              <i class="text-secondary">in progress</i>
              {% elif version.local_imported and version.local_ts == version.remote_ts %}
              <i class="text-success">up to date</i>
              {% else %}
              <input type="checkbox" name="version_{{version.number}}" aria-label="import version {{ version.number }}"/>
              {% if version.local_ts and not version.local_imported %}
              
              <i class="fas fa-exclamation-triangle text-danger"
                 data-toggle="tooltip"
                 data-placememt="top"
                 title="Version {{ version.number }} was updated locally,
a new import will overwrite the changes"
                 ></i>
              {% endif %}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="text-right"><input class="btn btn-primary" type="submit" value="Import selected versions"></p>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block messages %}
{{ block.super }}
{% include 'partials/_form_messages.html' %}
{% endblock %}


{% block javascript %}
{{ block.super }}
<script defer src="{% static 'js/tooltip.js' %}"></script>
{% endblock %}
