{% extends "base.html" %}
{% load static converters htmlattrs humanize %}

{% block title %}{{ webapp.name | fancy_webapp_name | title }} application{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'main:webapp_list' %}">Applications</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ webapp.name | fancy_webapp_name | title }}</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">
    <div class="row">


      <div class="col">
        <h1>
          {% if webapp.logo_file_name %}
          <img class="card-img-top img-thumbnail rounded-circle mx-auto" src="{% get_media_prefix %}{{ webapp.docker_name }}/{{ webapp.logo_file_name }}" alt="{{ webapp.title }} logo" style="max-width: 45px;">
          {% endif %}
          {{ webapp.name | fancy_webapp_name | title }}</h1>
      </div>
      <div class="col text-right">
          {% if webapp.user == user %}
          <a class="fa-layers fa-2x"
            href="{% url 'main:webapp_update' webapp.docker_name %}"
            data-toggle="tooltip"
            data-placement="top"
            title="Edit properties">
            <i class="fas fa-square"></i>
            <i class="fa-inverse fas fa-pencil-alt" data-fa-transform="shrink-7 down-.25 left-.25"></i>
            <span class="text-hide">Edit properties</span>
          </a>

          <a class="fa-layers fa-2x"
            href="{% url 'main:webapp_sandbox_panel' webapp.docker_name %}"
            data-toggle="tooltip"
            data-placement="top"
            title="Create new version">
            <i class="fas fa-square"></i>
            <i class="fa-inverse fas fa-plus" data-fa-transform="shrink-7 down-.25 left-.25"></i>
            <span class="text-hide">Create a new version</span>
          </a>

          {% if webapp.imported %}
          <a class="fa-layers fa-2x"
            href="{% url 'main:webapp_version_import' webapp.docker_name %}"
            data-toggle="tooltip"
            data-placement="top"
            title="Import version">
            <i class="fas fa-square"></i>
            <i class="fa-inverse fas fa-cloud-download-alt" data-fa-transform="shrink-7 down-.25 left-2"></i>
            <span class="text-hide">Import version</span>
          </a>
          {% endif %}
          {% endif %}

          <a class="fa-layers fa-2x"
            href="{% url 'main:webapp_version_list' webapp.docker_name %}"
            data-toggle="tooltip"
            data-placement="top"
            title="List versions">
            <i class="fas fa-square"></i>
            <i class="fa-inverse fas fa-tasks" data-fa-transform="shrink-7 down-.25 left-.25"></i>
            <span class="text-hide">List versions</span>
          </a>
      </div>
    </div>

      <ul class="list-inline app-tags small mb-4">
        <li class="list-inline-item">{{ webapp.contact | email2name }}</li>
        <li class="list-inline-item">Updated {{ webapp.updated_at | naturalday }}</li>
        <li class="list-inline-item"><i class="fas fa-tags"></i></li>
        {% for tag in webapp.tags.all %}
        <li class="list-inline-item"><a class="badge badge-secondary" href="{% url 'main:tag_webapp_list' tag.slug %}">{{ tag.name }}</a></li>
        {% endfor %}
      </ul>

      {% if readme %}
        {{ readme | markdown | safe }}
      {% elif webapp.description %}
        {{ webapp.description | markdown | safe }}
      {% else %}
        <p>No description available</p>
      {% endif %}

    {# Link to the sandbox panel #}
    {% if webapp.sandbox_state != webapp.IDLE and user == webapp.user %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">This application has an active sandbox</h5>
        <p class="card-text">You can run test jobs using the job submission form below</p>
        <p class="card-text">Once you are done, you can <b>commit</b> a new version
        (to save your work permanently and make it usable by other users)
        or <b>rollback</b> (to discard your changes)</p>
        <a href="{% url 'main:webapp_sandbox_panel' webapp.docker_name %}" class="card-link">Go to the sandbox panel</a>
      </div>
    </div>
    {% endif %}

    {% if versions %}
    {# Panels #}
    <ul class="nav nav-tabs mt-3">
      <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#create-job"><i class="fas fa-database"></i> Run a job</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#api"><i class="fas fa-terminal"></i> Use the API</a></li>
      {% if webapp.notebook_gitrepo %}
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#notebook"><i class="fas fa-file-alt"></i> Notebook</a></li>
      {% endif %}
    </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="create-job">
          {% if user.is_authenticated %}
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group" id="files-form-group">
              {{ form.files.label_tag }}
              {% for i in file_input_ids %}
              <div class="input-group"{% if not forloop.first %} hidden{% endif %}>
		<div class="input-group-prepend">
                  <button type="button" class="btn btn-outline-secondary" data-action="remove">×</button>
		</div>
                <div class="custom-file">
                  <input id="input-file-{{i}}" class="custom-file-input" type="file" name="{{ form.files.name }}" multiple>
                  <label for="input-file-{{i}}" class="custom-file-label"></label>
                </div>
              </div>
              {% endfor %}
              <small class="form-text text-muted">{{ form.files.help_text }}</small>
            </div>

            <div class="form-group">
              {{ form.param | label_with_classes:"d-block" }}
              <div class="input-group">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Presets</button>
                  <div class="dropdown-menu">
                    {% for choice in form.webapp_parameters.field.queryset %}
                      <a class="dropdown-item" href="#" data-param="{{ choice.value }}">{{ choice.name }}</a>
                    {% empty %}
                    <p class="dropdown-item">No presets available</p>
                    {% endfor %}
                  </div>
                </div>
                {{ form.param | attr:"placeholder:Type your parameters here" | add_class:"form-control dropdown-value" }}
              </div>
              <small class="form-text text-muted">{{ form.param.help_text }}</small>
            </div>

            <div class="row">
              <div class="col form-group">
                {{ form.version.label_tag }}
                <select name="version" id="id_version" class="form-control">
                  {% for choice in versions %}
                  <option value="{{ choice }}">{{ choice }}</option>
                  {% endfor %}
                </select>
                <small class="form-text text-muted">{{ form.version.help_text }}</small>
              </div>

              <div class="col form-group">
                {{ form.queue_id.label_tag }}

                <select name="{{ form.queue_id.name }}" id="{{ form.queue_id.id_for_label }}" class="form-control">
                  {% for choice in form.queue_id.field.queryset %}
                  <option value="{{ choice.pk }}"
                    {% if choice.pk == webapp.job_queue_id %} selected {% endif %}
                    >{{ choice | fancy_job_queue }}</option>
                  {% endfor %}
                </select>
                <small class="form-text text-muted">{{ form.queue_id.help_text }}</small>
              </div>
            </div>

            <input class="btn btn-primary" type="submit" value="Run this job">
        </form>


        {% else %}
          <p class="mt-3">In order to run a job you need to be <a href="{{ sign_in_url }}" title="Sign in on A||Go">identified</a>
          or <a href="{% url 'account_signup' %}" title="Sign up on A||Go">register a new account</a>.</p>
        {% endif %}
        </div>

        <div class="tab-pane" id="api">
          <p class="mt-3"><a href="https://allgo.gitlabpages.inria.fr/doc/api.html">API Reference</a></p>

          {% for description, command in api_cmds %}
          <p class="mt-3 mb-0">{{ description }}</p>
          <div class="row">
            <div class="col-11">
              <pre><code class="lang-bash">{{ command | command_multiline }}</code></pre>
            </div>
            <div class="col-1">
              <button 
                 class="btn btn-primary js-copy mt-2"
                 data-toggle="tooltip"
                 data-copy="{{ command | command_oneline }}"
                 data-placement="top"
                 title="Copy to clipboard" type="button"><i class="fas fa-clipboard"></i><span class="text-hide">Copy to clipboard</span></button>
            </div>
          </div>
          {% endfor %}
        </div>

        {% if webapp.notebook_gitrepo %}
        <div class="tab-pane" id="notebook">
          <p class="mt-3">A Jupyter notebook is available to try the application online. You can
          launch it <a href="/jupyter?repo={{ webapp.notebook_gitrepo }}" title="Jupyter notebook">using this link</a>.</p>
          <p class="small text-muted">If you don't know what Jupyter is, you can <a href="https://jupyter.org/" title="Project Jupyter">visit their website</a>.</p>
        </div>
        {% endif %}
      </div>

    {% endif %}{# app has versions #}
    </div>
  </div>
</div>
{% endblock %}

{% block messages %}
{{ block.super }}
{% for field in form %}
  {% for error in field.errors %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <div class="container">{{ error|escape }}</div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
{% endfor %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script defer src="{% static 'js/tooltip.js' %}"></script>
<script defer src="{% static 'js/copy.js' %}"></script>
<script defer src="{% static 'js/bs-custom-file-input.min.js' %}"></script>
<script defer>
$(document).ready(function(){
    {% comment %}
        Support for multiple file selectors

        HTML allows uploading multiple files via a single file selector:
            <input type="file" multiple>

        However most browser won't allow uploading files from separate
        directories, which is bad for user experience. We need to support
        multiple selectors.

        Creating additional selectors dynamically is a possible approach, but
        it seems to break firefox (as of esr 68). The requests sent by the
        browser are empty and  django reports a CSRF token failure.

        Therefore our approach is to generate the form with a fixed set of file
        selectors and keep them hidden until they are needed.
        

     {% endcomment %}
    var groups = $("#files-form-group").find(".input-group");

    {# ensure that: #}
    {#  - all non-empty file selectors are visible   #}
    {#  - exactly one empty file selector is visible #}
    function refresh_visibility() {
        var has_empty_slot = false;
        groups.each(function(_, grp) {
            if ($(grp).find("input").val() == "") {
                if (has_empty_slot) {
                    grp.setAttribute("hidden", "");
                    return;
                }
                has_empty_slot = true;
            }
            grp.removeAttribute("hidden");
        });
    }
    
    function on_remove(ev) {
        grp = $(ev.target).parentsUntil(".input-group").last().parent();
        grp.find("input").val("");
        grp.find("label").text("");
        refresh_visibility();
    }

    bsCustomFileInput.init();
    groups.find("button[data-action='remove']").click(on_remove);
    groups.find("input").change(refresh_visibility);
    refresh_visibility();
});
</script>
{% endblock %}
