{% extends "base.html" %}
{% load static converters humanize %}

{% block title %}
{% if view.kwargs.username %}
Apps by {{ view.kwargs.username }}
{% else %}
Available apps
{% endif %}
{% endblock %}


{% block breadcrumb %}
{% if view.kwargs.username %}
<li class="breadcrumb-item"><a href="{% url 'main:webapp_list' %}">Applications</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ view.kwargs.username }}</li>
{% else %}
<li class="breadcrumb-item active" aria-current="page">Applications</li>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">

    <div class="row">
      <div class="col">
      </div>
      
      <div class="col text-right">
        {% if request.user.is_provider %}
        <a
          href="{% url 'main:webapp_creation' %}"
          data-toggle="tooltip"
          data-placement="top"
          title="Create a new application"
          class="fa-layers fa-2x">
          <i class="fas fa-square"></i>
          <i class="fa-inverse fas fa-plus" data-fa-transform="shrink-7 down-.25 left-.25"></i>
          <span class="text-hide">Create application</span>
        </a>
        <a
          href="{% url 'main:webapp_import' %}"
          data-toggle="tooltip"
          data-placement="top"
	  title="Import application"
          class="fa-layers fa-2x">
          <i class="fas fa-square"></i>
          <i class="fa-inverse fas fa-cloud-download-alt" data-fa-transform="shrink-7 down-.25 left-1.75"></i>
          <span class="text-hide">Import application</span>
        </a>
        {% endif %}
      </div>
    </div>

    {% include "partials/_webapp_list.html" %}

    {% include "partials/_pagination.html" %}
  </div>
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script defer src="{% static 'js/tooltip.js' %}"></script>
{% endblock %}
