{% extends "base.html" %}
{% load static converters htmlattrs humanize %}

{% block title %}{{ webapp.name | fancy_webapp_name | title }} tokens{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'main:webapp_list' %}">Applications</a></li>
<li class="breadcrumb-item"><a href="{% url 'main:webapp_detail' webapp.docker_name %}">{{ webapp.name }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Tokens</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">
    <h1>Deploy tokens</h1>
  </div>

  {% if new_token %}
  <div class="card mb-5">
    <div class="card-body">
      <h5 class="card-title">New token</h5>
      <div class="form-inline card-text">
        <div class="mr-2">Your new token is:</div>
        <div class="input-group flex-fill">
          <input type="text" class="form-control" value="{{ new_token }}" readonly>
          <div class="input-group-append">
            <button 
               class="btn btn-primary js-copy"
               data-toggle="tooltip"
               data-copy="{{ new_token }}"
               data-placement="top"
               title="Copy to clipboard" type="button"><i class="fas fa-clipboard"></i><span class="text-hide">Copy to clipboard</span></button>
          </div>
        </div>
      </div>
      <p class="card-text text-danger mt-3">Make sure you save it, you won't be able to access it again.</p>

      <p class="card-text">You may now login to the docker repository and push an image with the following command:</p>
      <pre class="language-bash"><code class="language-*"
>docker login -u token -p {{ new_token }} {{ repository }}
docker push {{ repository }}:latest</code></pre>
      </pre>
    </div>
  </div>
  {% endif %}

  <form method="post" class="mb-5">
    {% csrf_token %}
    <div class="form-row">
      <div class="col-sm-6 col-lg-4">
        <div class="form-group">
          {{ form.name.label_tag }}
          {% if form.name.errors %}
          {{ form.name | add_class:"form-control is-invalid" }}
          {% else %}
          {{ form.name | add_class:"form-control"}}
          {% endif %}
          <small class="form-text text-muted">{{ form.name.help_text }}</small>
        </div>
      </div>
      <div class="col-sm-3 col-lg-2">
        <div class="form-group">
          {{ form.lifetime.label_tag }}
          {{ form.lifetime | add_class:"form-control" }}
          <small class="form-text text-muted">{{ form.lifetime.help_text }}</small>
        </div>
      </div>
      <div class="col-sm-3 col-lg-2">
        <div class="form-group">
          <label>&nbsp;</label>
          <input class="btn btn-primary form-control" type="submit" value="Create token">
        </div>
      </div>
    </div>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Token</th>
        <th scope="col">Name</th>
        <th scope="col">Created</th>
        <th scope="col">Expires</th>
        <th scope="col">Action</th>
    </thead>
    <tbody>
      {% for token in token_list %}
      <tr>
        <th scope="row"><tt>{{token.id}}</tt></th>
        <td>{{token.name}}</td>
        <td>{{token.created_at.date}}</td>
        <td>{{token.expires_at | default:"<i class='text-secondary'>never</i>"}}</td>
        <td><form action="{%url 'main:webapp_token_delete' webapp.docker_name token.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block messages %}
{{ block.super }}
{% include 'partials/_form_messages.html' %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script defer src="{% static 'js/tooltip.js' %}"></script>
{% endblock %}
