{% extends "base.html" %}
{% load htmlattrs converters %}

{% block title %}
{{action}} version {{version.number}}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'main:webapp_list' %}">Applications</a></li>
  <li class="breadcrumb-item">
    <a href="{% url 'main:webapp_detail' webapp.docker_name %}">{{ webapp.name | fancy_webapp_name | title }}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{%url 'main:webapp_version_list' webapp.docker_name %}">Versions</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">{{version.number}} (#{{version.id}})</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">
    <h3>{{action}} version {{ version.number }}</h3>
    <form id="update_form" method="post" class="clearfix">
      {% csrf_token %}
      <div class="form-row">
        <div class="col">
          {{ form.number.label_tag }}
          {% if form.number.errors %}
          {{ form.number | attr:"placeholder:My great app" | add_class:"form-control is-invalid" }}
          {% else %}
          {{ form.number | attr:"placeholder:My great app" | add_class:"form-control" }}
          {% endif %}
          <small class="form-text text-muted">{{ form.number.help_text }}</small>
        </div>
        <div class="col">
          <label>Created:</label>
          <span class="form-control">{{version.created_at}}</span>
        </div>
      </div>

      <div id="replace-alert" class="alert alert-warning mb-3" role="alert" hidden>
        <b>Warning:</b> there is an active version named '<span></span>'. That version will be
        deleted when you submit the form.
      </div>

      <div class="form-group">
        {{form.description.label_tag}}
        {{form.description | add_class:"form-control"}}
        <small class="form-text text-muted">{{form.description.help_text}}</small>
      </div>

      <div class="form-row">
        <div class="form-group">
          {{ form.published.label_tag }}
          <div class="form-check">
            {{ form.published | add_class:"form-check-control" }}
          </div>
          <small class="form-text text-muted">{{form.published.help_text}}</small>
        </div>
      </div>

      <input class="btn btn-primary float-right mt-4" type="submit" value="{{action}} webapp">
    </form>
    </div>
  </div>
</div>
{% endblock %}


{% block messages %}
{{ block.super }}
{% include 'partials/_form_messages.html' %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script defer>
  $(document).ready(function() {
    {% comment %}
      This code:
      - displays a warning (alert message) when the user is about to overwrite an existing version
      - prevents the form submission if the alert was shown less that .5s ago (to ensure the user
        sees the warning in case the 'changed' and 'submit' are triggered at the same time)
    {% endcomment %}
    var other_active_versions = {{other_active_versions_json | safe}};
    var warn_timestamp = null;
    var MIN_WARN_DELAY = 500;

    function check_number(evt) {
      var version = $('input[name="number"]').val();
      var alert_div = $("#replace-alert");
      if (other_active_versions.includes(version)) {
        alert_div.attr("hidden", null);
        alert_div.find("span").text(version);
        warn_timestamp = evt ? evt.timeStamp : null;
      } else {
        alert_div.attr("hidden", "");
        warn_timestamp = null;
      }
    }

    $('input[name="number"]').change(check_number);
    $('#update_form').submit(function(evt) {
      if (warn_timestamp && (evt.timeStamp < warn_timestamp + MIN_WARN_DELAY)) {
        evt.preventDefault();
      }
    });
    check_number();
  });
</script>
{% endblock %}


