{% extends "base.html" %}
{% load htmlattrs converters %}

{% block title %}
  {{action}} a webapp
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'main:webapp_list' %}">Applications</a></li>
{% if action == "Update" %}
<li class="breadcrumb-item"><a href="{% url 'main:webapp_detail' webapp.docker_name %}">{{ webapp.name | fancy_webapp_name | title}}</a></li>
{% endif %}
<li class="breadcrumb-item active" aria-current="page">{{action}}</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">
        <form method="post" class="clearfix">
          {% csrf_token %}

              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    {{ form.name.label_tag }}
                    {% if form.name.errors %}
                    {{ form.name | attr:"placeholder:My great app" | add_class:"form-control is-invalid" }}
                    {% else %}
                    {{ form.name | attr:"placeholder:My great app" | add_class:"form-control" }}
                    {% endif %}
                  </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    {{ form.contact.label_tag }}
                    {{ form.contact | attr:"placeholder:john.smith@example.net" | add_class:"form-control" }}
                    <small class="form-text text-muted">{{ form.contact.help_text }}</small>
                  </div>


                </div>
              </div>

              <div class="form-group">
                {{ form.description.label_tag }}
                {{ form.description | attr:"placeholder:Consider it as the app README file" | add_class:"form-control" }}
                <small class="form-text text-muted"><a href="https://daringfireball.net/projects/markdown/syntax" title="Markdown syntax">Mardown syntax</a> is used for formatting.</small>
              </div>

              <div class="form-group">
                {{ form.private.label_tag }}
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                {% for private_field in form.private %}
                <label class="btn btn-secondary {% if private_field.data.selected %}active{% endif %}">
                  <input 
                    type="{{ private_field.data.type }}"
                    id="{{ private_field.id_for_label }}"
                    value="{{ private_field.data.value }}"
                    name="{{ private_field.data.name }}"
                    {% if private_field.data.selected %}checked{% endif %}>
                  {{ private_field.choice_label }}
                </label>
                {% endfor %}
                </div>
                  <small class="form-text text-muted">{{ form.private.help_text }}</small>
              </div>

      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseAdvanced" aria-expanded="{{show_advanced}}" aria-controls="collapseAdvanced">
              Advanced options
            </button>
          </h5>
        </div>
        <div class="collapse {% if show_advanced %}show{% endif %}" id="collapseAdvanced">
          <div class="card-body">
            <div class="form-row">

              <div class="form-group col">
                {{ form.docker_os.label_tag }}
                <select name="{{ form.docker_os.name }}" id="{{ form.docker_os.id_for_label }}" class="form-control">
                  {% for choice in form.docker_os.field.queryset %}
                  <option value="{{ choice.pk }}">{{ choice.name }} {{ choice.version }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-group col">
                {{ form.memory_limit_mb.label_tag }}
                <div class="input-group">
                  {{ form.memory_limit_mb | attr:"placeholder:Memory limit" | add_class:"form-control" }}
                  <div class="input-group-append">
                    <span class="input-group-text">MB</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                {{ form.job_queue.label_tag }}

                <select name="{{ form.job_queue.name }}" id="{{ form.job_queue.id_for_label }}" class="form-control">
                  {% for choice in form.job_queue.field.queryset %}
                  <option value="{{ choice.pk }}"
                    {% if choice.pk == form.instance.job_queue_id %} selected {% endif %}
                    >{{ choice | fancy_job_queue }}</option>
                  {% endfor %}
                </select>
                <small class="form-text text-muted">{{ form.job_queue.help_text }}</small>

                <div class="form-group">
                  {{ form.tags.label_tag }}
                  {{ form.tags | attr:"placeholder:comma, separated, tags" | add_class:"form-control" }}
                  <small class="form-text text-muted">{{ form.tags.help_text }}</small>
                </div>

                {% if action != "Create" %}
                <div class="form-group">
                  {{ form.owner.label_tag }}
                  {{ form.owner | attr:"placeholder:Enter the new owner username" | add_class:"form-control" }}
                  <small class="form-text text-muted">{{ form.owner.help_text }}</small>
                </div>
                {% endif %}
              </div>

              <div class="form-group col-md-6">
                {{ form.entrypoint.label_tag }}
                <div class="input-group">
                  {{ form.entrypoint | add_class:"form-control" }}
                </div>
                <small class="form-text text-muted">{{ form.entrypoint.help_text }}</small>

                {{ form.allow_param_chars.label_tag }}
                <div class="input-group">
                  {{ form.allow_param_chars | add_class:"form-control" }}
                </div>
                <small class="form-text text-muted">{{ form.allow_param_chars.help_text }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>

          <input class="btn btn-primary float-right mt-4" type="submit" value="{{action}} webapp">

        </form>
    </div>
  </div>
</div>
{% endblock %}


{% block messages %}
{{ block.super }}
{% include 'partials/_form_messages.html' %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
  $("#collapseAdvanced input").on("invalid", function(ev) {
    {# unfold the 'Advanced options' panel if any of its field triggers an 'invalid' value event #}
    $(ev.target).closest(".collapse").collapse("show")
  });
</script>
{% endblock %}

