{% extends "base.html" %}
{% load static converters humanize %}

{% block title %}{{ webapp.name | fancy_webapp_name | title }} versions{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'main:webapp_list' %}">Applications</a></li>
  <li class="breadcrumb-item">
    <a href="{% url 'main:webapp_detail' webapp.docker_name %}">{{ webapp.name | fancy_webapp_name | title }}</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">Versions</li>
{% endblock %}

{% block messages %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">
    <h3>Version history for {{ webapp.name }}</h3>
    {% if version_list %}
        <table class="table table-striped">
          <thead>
            <tr>
              {% if can_edit %}
                <th scope="col">Id</th>
              {% endif %}
              <th scope="col">Number</th>
              <th scope="col">Description</th>
              <th scope="col">Created</th>
              {% if can_edit %}
                <th scope="col">Deleted</th>
                <th scope="col" class="text-center">Published</th>
              {% endif %}
              <th scope="col">Status</th>
              {% if can_edit %}
                <th scope="col">Action</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for version in version_list %}
              <tr data-version-id="{{version.id}}" 
                  {%if version.state == version.DELETED %} class="text-secondary" {% endif %} >
                {% if can_edit %}
                  <td>{{version.id}}</td>
                {% endif %}
                <td>{{ version.number }}</td>
                <td>{{ version.description }}</td>
                <td>{{ version.created_at }}</td>
                {% if can_edit %}
                  <td>{{ version.deleted_at | default_if_none:'' }}</td>
                  <td class="text-center">
                    {% if version.published %}
                      <i class="fas fa-check" aria-label="published"></i>
                    {% endif %}
                  </td>
                {% endif %}
                <td>
                  {{ version | version_status:user.is_superuser }}
                </td>
                {% if can_edit %}
                  <td>
                    <a href="{% url 'main:webapp_version_update' webapp.docker_name version.id %}"
                       class="btn btn-primary
                       {% if version.state == version.ERROR or version.state == version.DELETED %}
                         invisible {% endif %}"
                       role="button" aria-label="Update" title="Update">
                      <i class="fas fa-pencil-alt"></i></a>

                    {% if version.state == version.READY or version.state == version.ERROR %}
                    <button type="button" class="btn btn-danger" aria-label="Delete" title="Delete">
                      <i class="fas fa-trash-alt"></i></button>
                    {% elif version.state == version.DELETED %}
                    <a href="{% url 'main:webapp_version_update' webapp.docker_name version.id %}"
                       class="btn btn-light" role="button" aria-label="Restore" title="Restore">
                      <i class="fas fa-undo-alt"></i></a>
                    {% endif %}
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
    {% else %}
        <p>No version available.</p>
    {% endif %}
        {% if can_edit %}
        <p>create a
          <a href="{% url 'main:webapp_sandbox_panel' webapp.docker_name %}">new version</a>
        </p>
        {% endif %}
  </div>
</div>
<form id="version_delete_form" method="post">
  {% csrf_token %}
  <input type="hidden" name="delete">
</form>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script defer src="{% static 'js/tooltip.js' %}"></script>
<script>
  $(document).ready(function() {
    $('button[aria-label="Delete"]').click(function(evt) {
      var form = $("#version_delete_form");
      form[0].reset();
      form.find('input[name="delete"]').val(
        $(evt.target).closest("tr").attr("data-version-id")
      )
      form.submit();
    });
  });
</script>
{% endblock %}
