{% extends "base.html" %}
{% load htmlattrs converters %}

{% block title %}Import a webapp{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'main:webapp_list' %}">Applications</a></li>
<li class="breadcrumb-item active" aria-current="page">Import</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">
    <h3>Import an application from <a href="{{import_url}}/apps">{{ import_url }}</a></h3>

    <p>Please provide either the ID or the short name of the application you
    wish to import.</p>

    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        {{ form.webapp_id.label_tag }} <i>(as in url {{ import_url }}/webapps/&lt;ID&gt;)</i>
        {% if form.webapp_id.errors %}
        {{ form.webapp_id | add_class:"form-control is-invalid" }}
        {% else %}
        {{ form.webapp_id | add_class:"form-control" }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.docker_name.label_tag }} <i>(as in url {{ import_url }}/app/&lt;NAME&gt;)</i>
        {% if form.docker_name.errors %}
        {{ form.docker_name | add_class:"form-control is-invalid" }}
        {% else %}
        {{ form.docker_name | add_class:"form-control" }}
        {% endif %}
      </div>
      <input class="btn btn-primary" type="submit" value="Import webapp">
    </form>

    <p></p>

    {% if imported_apps %}
    <h3>Import new versions</h3>
    <ul>
    {% for webapp in imported_apps %}
    <li><a href="{% url 'main:webapp_version_import' webapp.docker_name %}">{{ webapp.name}}<a></li>
    {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% endblock %}


{% block messages %}
{{ block.super }}
{% include 'partials/_form_messages.html' %}
{% endblock %}
