{% extends "base.html" %}
{% load i18n %}

{% block title %}Manage your account connections{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item " aria-current="page"><a href="{% url 'main:user_detail' %}" title="My profile">My profile</a></li>
<li class="breadcrumb-item active" aria-current="page">Account connections</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">
<h5>connections</h5>
{% if form.accounts %}
<p>{% blocktrans %}You can sign in to your account using any of the following third party accounts:{% endblocktrans %}</p>


<form method="post">
{% csrf_token %}

{% comment %}
{% if form.non_field_errors %}
    <div class="alert alert-danger">
        <a class="close" data-dismiss="alert">&times;</a></a>
        {% for non_field_error in form.non_field_errors %}
             {{ non_field_error }}
        {% endfor %}
    </div>
{% endif %}
{% endcomment %}


<table class="table">
  <thead>
    <tr>
      <th>
	{% trans 'Provider' %}
      </th>
      <th>
	{% trans 'Account' %}
      </th>
    </tr>
  </thead>
  <tbody>
{% for base_account in form.accounts %}
{% with base_account.get_provider_account as account %}
    <tr>
      <td>
<label class="radio" for="id_account_{{base_account.id}}">
<input id="id_account_{{base_account.id}}" type="radio" name="account" value="{{base_account.id}}"/>
<span class="socialaccount_provider {{base_account.provider}} {{account.get_brand.id}}">{{account.get_brand.name}}</span>
</label>
      </td>
      <td>
	{{account}}
      </td>
    </tr>
{% endwith %}
{% endfor %}
  </tbody>
</table>

<div class="form-actions">
<button class="btn btn-danger" type="submit">{% trans 'Remove' %}</button>
</div>

</fieldset>

</form>

{% else %}
<div class="alert alert-danger">
<strong>{% trans 'None!' %}</strong> {% trans 'You currently have no social network accounts connected to this account.' %}
</div>
{% endif %}

  </div>
</div>
{% endblock %}


{% block messages %}
{{ block.super }}
{% if form.non_field_errors %}
    <div class="alert alert-danger">
        <a class="close" data-dismiss="alert">&times;</a></a>
        {% for non_field_error in form.non_field_errors %}
             {{ non_field_error }}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
