{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Manage e-mail addresses" %}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'main:user_detail' %}">My profile</a></li>
  <li class="breadcrumb-item active" aria-current="page">e-mail</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">
    <div class="border-bottom pb-3 mb-3">
    <h2>{% trans "E-mail Addresses" %}</h2>
{% if user.emailaddress_set.all %}
<p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>

<form action="{% url 'account_email' %}" class="email_list" method="post">
{% csrf_token %}
<table class="table col-md-3" style="width:1px; white-space: nowrap;">
  <tbody>

  {% for emailaddress in user.emailaddress_set.all %}
  <tr>
    <td>
      <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">

      <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>

{{ emailaddress.email }}
      </label>
    </td>
    <td>
      {% if emailaddress.primary %}<span class="primary">{% trans "Primary" %}</span>{% endif %}
    </td>
    <td>
    {% if emailaddress.verified %}
    <span class="text-success">{% trans "Verified" %}</span>
    {% else %}
    <span class="text-danger">{% trans "Unverified" %}</span>
    {% endif %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<div class="buttonHolder">
      <button class="btn btn-primary secondaryAction" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
      <button class="btn btn-primary secondaryAction" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
      <button class="btn btn-primary primaryAction" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
</div>

</form>

{% else %}
<p><strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>

{% endif %}
    </div>
    <div class="border-bottom pb-3 mb-3">

    <h4>{% trans "Add E-mail Address" %}</h4>

    <form method="post" action="{% url 'account_email' %}" class="add_email">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" name="action_add" type="submit">{% trans "Add E-mail" %}</button>
    </form>

    </div>
  </div>
</div>
{% endblock %}


{% block extra_body %}
<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}
