{% extends "base.html" %}
{% load htmlattrs socialaccount %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In to A||Go" %}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Sign in</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">

    <div class="text-center">
      <h5 class="mb-0">Welcome back</h5>
      <p>Sign in to your existing A||Go account.</p>
    </div>


    <div class="row login justify-content-center">
    <div class="col-sd-4">
      <div class="card mt-3 tab-card">
        <div class="card-header tab-card-header">
          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#social-account" role="tab" aria-controls="One" aria-selected="true">Social account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#local-account" role="tab" aria-controls="Two" aria-selected="false">A||Go account</a>
            </li>
          </ul>
        </div>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active p-3" id="social-account" role="tabpanel" aria-labelledby="one-tab">
            <div class="socialaccount_providers list-group mt-3 mb-3">
            {% get_providers as socialaccount_providers %}
            {% if socialaccount_providers %}
            {% for account in socialaccount_providers %}
            <a href="{% provider_login_url account.id %}"
              class="list-group-item list-group-item-action {{ account.id }} text-center ">{{ account.name }}</a>
            {% endfor %}
            {% endif %}
            </div>
          </div>

          <div class="tab-pane fade p-3" id="local-account" role="tabpanel" aria-labelledby="two-tab">
            <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              <div class="form-group">
                {{ form.login.label_tag }}
                {{ form.login | attr:"placeholder:Your email address" | add_class:"form-control" }}
              </div>

              <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password | attr:"placeholder:Enter your password" | add_class:"form-control" }}
              </div>

              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <button  class="btn btn-primary btn-block" type="submit">{% trans "Sign in" %}</button>
              <small id="emailHelp" class="form-text text-muted">
                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></small>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>


    <div class="row login justify-content-center">
    <div class="col-sd-4">
        <div class="card mt-4">
          <div class="card-body text-center">
            New to A||Go? <a href="{% url 'account_signup' %}" title="Create an account">Create an account</a>
          </div>
        </div>
    </div>
    </div>


    {% comment %}
        <div class="d-flex justify-content-center flex-wrap">
          <h5 class="mb-4">Sign in to A||Go</h5>
          <div class="socialaccount_providers list-group border-bottom pb-3">
            {% get_providers as socialaccount_providers %}
            {% if socialaccount_providers %}
            {% for account in socialaccount_providers %}
            <a href="{% provider_login_url account.id %}"
              class="list-group-item list-group-item-action {{ account.id }} active text-center col-sm-3">{{ account.name }}</a>
            {% endfor %}
            {% endif %}
          </div>
        </div>

        <div class=" align-items-center">
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          <div class="form-group col-sm-5">
            {{ form.login.label_tag }}
            {{ form.login | attr:"placeholder:Your email address" | add_class:"form-control" }}
          </div>

          <div class="form-group col-sm-5">
            {{ form.password.label_tag }}
            {{ form.password | attr:"placeholder:Enter your password" | add_class:"form-control" }}
          </div>

          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button  class="btn btn-primary btn-block col-sm-5" type="submit">{% trans "Sign in" %}</button>

          <small id="emailHelp" class="form-text text-muted">
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></small>
            
        </form>

        <div class="card mt-4 col-sm-5">
          <div class="card-body text-center">
            New to A||Go? <a href="{% url 'account_signup' %}" title="Create an account">Create an account</a>
          </div>
        </div>
        </div>
        {% endcomment %}
  </div>
</div>
{% endblock %}

{% block messages %}
{{ block.super }}
{% include 'partials/_form_account_messages.html' %}
{% endblock %}
