{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Sign Out" %}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Sign out</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">
    <h1>{% trans "Sign Out" %}</h1>

    <p>{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button  class="btn btn-primary btn-block" type="submit">{% trans "Sign out" %}</button>
    </form>
  </div>
</div>
{% endblock %}
