{% extends "base.html" %}

{% load i18n %}
{% block title %}{% trans "Password changed" %}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Password changed</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">
    <h1>{% trans "Password changed" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>
  </div>
</div>
{% endblock %}
