{% extends "base.html" %}
{% load htmlattrs %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Password reset</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
      <div class="form-group">
        {{ form.email.label_tag }}
        {{ form.email | attr:"placeholder:Your email address" | add_class:"form-control" }}
      </div>
      <button  class="btn btn-primary btn-block" type="submit">{% trans "Reset my password" %}</button>
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
  </div>
</div>
{% endblock %}

{% block messages %}
{{ block.super }}
{% include 'partials/_form_account_messages.html' %}
{% endblock %}
