{% extends "base.html" %}
{% load htmlattrs %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Change password</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                <div class="form-group">
                  {{ form.password1.label_tag }}
                  {{ form.password1 | attr:"placeholder:Type your new password" | add_class:"form-control"}}
                </div>

                <div class="form-group">
                  {{ form.password2.label_tag }}
                  {{ form.password2 | attr:"placeholder:Type your new password again" | add_class:"form-control"}}
                </div>
                <button  class="btn btn-primary btn-block" type="submit">{% trans "Change password" %}</button>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
