{% extends "base.html" %}
{% load htmlattrs %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Join A||GO" %}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Join A||go</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="allgo-page">
    <div class="text-center">
      <h5 class="mb-0">Join A||Go</h5>
      <p>The best and easiest way to ship and use your algorithms.</p>
    </div>

    <div class="row login justify-content-center">
    <div class="col-4">
      <div class="card mt-3 tab-card">
        <div class="card-header tab-card-header">
          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#social-account" role="tab" aria-controls="One" aria-selected="true">Social account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#local-account" role="tab" aria-controls="Two" aria-selected="false">A||Go account</a>
            </li>
          </ul>
        </div>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active p-3" id="social-account" role="tabpanel" aria-labelledby="one-tab">
            <div class="socialaccount_providers list-group mt-3 mb-3">
            {% get_providers as socialaccount_providers %}
            {% if socialaccount_providers %}
            {% for account in socialaccount_providers %}
            <a href="{% provider_login_url account.id %}"
              class="list-group-item list-group-item-action {{ account.id }} text-center ">{{ account.name }}</a>
            {% endfor %}
            {% endif %}
            </div>
          </div>

          <div class="tab-pane fade p-3" id="local-account" role="tabpanel" aria-labelledby="two-tab">
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
              {% csrf_token %}
              <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email | attr:"placeholder:Your email address" | add_class:"form-control" }}
              </div>

              <div class="form-group">
                {{ form.password1.label_tag }}
                {{ form.password1 | attr:"placeholder:Type your password" | add_class:"form-control"}}
              </div>

              {% if form.password2 %}
              <div class="form-group">
                {{ form.password2.label_tag }}
                {{ form.password2 | attr:"placeholder:Type your password again" | add_class:"form-control"}}
              </div>
              {% endif %}

              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <button  class="btn btn-primary btn-block" type="submit">{% trans "Create an account" %}</button>
            </form>
          </div>
        </div>
  </div>
</div>



{% endblock %}

{% block messages %}
{{ block.super }}
{% include 'partials/_form_account_messages.html' %}
{% endblock %}
