{% load static env_var %}

<footer class="footer container-fluid w-100 bg-dark text-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h5>A<span class="allgo-pipes">||</span>Go</h5>
        <p class="copyright">&copy; {% now "Y" %}</p>
      </div>
      <div class="col-sm-3">
        <h5>Get started</h5>

        <ul>
          <li><a href="{% url 'main:home' %}">Home</a></li>
          <li><a href="{% url 'account_signup' %}">Sign up</a></li>
          <li><a href="{% url 'main:webapp_list' %}">Explore</a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <h5>About us</h5>

        <ul>
          <li><a href="https://wiki.inria.fr/sed_ren/">/SED/</a></li>
          <li><a href="{% url 'main:tos_detail' %}">Terms</a></li>
          {% comment Will be reintegrated with the RGPD %}
          <li><a href="#">Privacy</a></li>
          {% endcomment %}
        </ul>
      </div>

      <div class="col-sm-3">
        <h5>Support</h5>

        <ul>
          <li><a href="https://allgo.gitlabpages.inria.fr/doc/">Documentation</a></li>
          <li><a href="{% env_var "ALLGO_HELPDESK_URL" %}">Helpdesk</a></li>
          <li><a href="{% env_var "ALLGO_BUG_TRACKER_URL" %}">Report an issue</a></li>
          <li><a href="{% env_var "ALLGO_CONTACT" %}">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="logos">
    <a href="https://inria.fr"><img class="float-left" src="{% static 'images/inria.png' %}"></a>
    <a href="https://www.irisa.fr"><img class="float-right" src="{% static 'images/irisa.png' %}"></a>
    </div>
  </div>
</footer>
