{% load static activelink socialaccount%}

<header class="container-fluid">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand text-hide" href="{% url 'main:home' %}">
        <img src="{% static "images/logo-allgo.png" %}" width="50px" height="50px" alt="allgo logo">A||go</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li 
            class="nav-item {% is_active request 'webapp_list' 'webapp_detail' %}">
            <a class="nav-link" href="{% url 'main:webapp_list' %}"><i class="fas fa-search"></i> Browse</a>
          </li>
          <li {# TODO: put active link if possible #}>
            <a class="nav-link" href="https://allgo.gitlabpages.inria.fr/doc/"><i class="fas fa-book"></i> Documentation</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          {% if sign_in_url %}
          <a href="{{ sign_in_url }}" class="btn btn-primary">Log in{% if sign_in_provider %} with {{sign_in_provider}}{% endif %}</a>
          {% endif %}
          {% if user.is_authenticated %}
          <li class="nav-item {% is_active request 'user_webapp_list' 'webapp_update' 'webapp_creation' 'webapp_sandbox_panel' %}">
            <a class="nav-link" href="{% url 'main:user_webapp_list' user.get_username %}"><i class="fas fa-cloud"></i> Apps</a>
          </li>
          <li  class="nav-item {% is_active request 'job_list' 'job_detail' 'webapp_detail' 'job_delete' %}">
            <a class="nav-link" href="{% url 'main:job_list' %}"><i class="fas fa-database"></i> Jobs</a>
          </li>
          {% comment %}
          <li  class="nav-item {% is_active request 'runner_list' 'runner_create' 'runner_update' 'runner_delete' %}">
            <a class="nav-link" href="{% url 'main:runner_list' %}"><i class="fab fa-hubspot"></i> Runners</a>
          </li>
          {% endcomment %}
          <li  class="nav-item {% is_active request 'metrics' %}">
            <a class="nav-link" href="{% url 'main:metrics' %}"><i class="fas fa-chart-bar"></i> Metrics</a>
          </li>
          <li class="nav-item {% is_active request 'user_detail' 'user_token' 'user_ssh_add' 'user_ssh_delete' 'user_password' %}">
            <a class="nav-link" href="{% url 'main:user_detail' %}"><i class="fas fa-user"></i> Profile</a>
          </li>
          <li class="nav-item {% is_active request 'account_logout' %}">
            <form style="display: inline" method="post" action="{% url 'account_logout' %}?next={{ view.request.get_full_path | urlencode }}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary"><i class="fas fa-sign-out-alt"></i> Sign out</a></button>
            </form>
          </li>
          {% endif %}
        </ul>

      </div>
    </nav>
  </div>
</header>
