{% for message in messages %}
<div class="container-fluid alert-{{ message.tags }} alert alert-container">
  <div class="container">
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      <div class="container">{{ message }}</div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
{% endfor %}
