{% load static converters humanize %}
<div class="row">
{% for webapp in webapps %}

  <div class="col">
    <div class="card card-webapp" style="width: 18rem;">
      <div class="card-header">
        {% if webapp.logo_file_name %}
        <img class="card-img-top img-thumbnail rounded-circle mx-auto d-block" src="{% get_media_prefix %}{{ webapp.docker_name }}/{{ webapp.logo_file_name }}" alt="{{ webapp.title }} logo">
        {% else %}
        <img class="card-img-top img-thumbnail rounded-circle mx-auto d-block" src="{% static 'images/webapp-default-logo.svg' %}" alt="{{ webapp.title }} logo" style="opacity: 0.5;">
        {% endif %}
        <h5 class="card-title text-center"><a href="{% url 'main:webapp_detail' webapp.docker_name %}">{{ webapp.name | fancy_webapp_name }}</a></h5>
        <h6 class="card-subtitle text-muted text-center">{{ webapp.contact | email2name }} - Updated {{ webapp.updated_at | naturalday }}</h6>
      </div>
      <div class="card-body">
        <nav class="navbar">
          <ul class="nav nav-bar mx-auto">
            <li class="nav-item">
              <a 
                class="nav-link"
                href="{% url 'main:webapp_detail' webapp.docker_name %}"
                title="Start a job"
                data-toggle="tooltip"
                data-placement="bottom" ><i class="fas fa-play" data-fa-transform="shrink-10 up-.5" data-fa-mask="fas fa-circle"></i><span class="text-hide">Run a job</a></li>
            {% if webapp.notebook_gitrepo %}
            <li class="nav-item">
              <a
                class="nav-link"
                href="/jupyter?repo={{ webapp.notebook_gitrepo }}"
                title="Start a Jupyter notebook"
                data-toggle="tooltip"
                data-placement="bottom"><i class="fas fa-sticky-note" data-fa-transform="shrink-10 up-.5" data-fa-mask="fas fa-circle"></i><span class="text-hide">Run notebook</a></li>
	    {% endif %}
            {% if webapp.user == user and webapp.sandbox_state != webapp.IDLE %}
            <li class="nav-item">
              <a
                class="nav-link app-unfinished"
                href="{% url 'main:webapp_sandbox_panel' webapp.docker_name %}"
                title="There is an active sandbox"
                data-toggle="tooltip"
                data-placement="bottom"><i class="fas fa-exclamation-circle"></i><span class="text-hide">There is an active sandbox</span></a></li>
            {% endif %}
          </ul>
        </nav>
        <p class="card-text">
        {% if webapp.description %}
        {{ webapp.description|truncatechars:200 }}
        {% else %}
        No description available for this application.
        {% endif %}
        </p>
      </div>
      <div class="card-footer text-muted">
        <div class="row">
          <div class="col-1">
            <i class="fas fa-tags"></i>
          </div>
          <div class="col">
            <ul class="list-inline app-tags small">
              {% for tag in webapp.tags.all %}
              <li class="list-inline-item"><a class="badge badge-secondary" href="{% url 'main:tag_webapp_list' tag.slug %}">{{ tag.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>
